<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jldes.hundir_la_flota2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="16" />

    <application
        android:icon="@drawable/photoship1"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        <activity
            android:name="com.jldes.hundir_la_flota2.HundirLaFlotaActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jldes.hundir_la_flota2.JugarActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.jldes.hundir_la_flota2.AyudaActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.jldes.hundir_la_flota2.CrearTableroJugadorActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.jldes.hundir_la_flota2.JuegaJugadorActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.jldes.hundir_la_flota2.JuegaCpuActivity"
            android:screenOrientation="landscape" >
        </activity>

        <service
            android:name="com.jldes.hundir_la_flota2.Servicio"
            android:enabled="true" >
        </service>
    </application>

</manifest>